.range-holder{
    padding: 0 0 0 10px;
    margin-top: 40px;
    overflow: hidden;
    height: 62px;
}

.range-holder #distance{
    padding-left: 40px;
    margin-top: 10px;
    height: 25px;
}
.pre-range{
    position: relative;
}
.pre-range .circle{
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    left: -1px;
    top: 40px;
    background: #32cccc;
    border-radius: 50%;
}

#rangeP {  /* контейнер */
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    box-shadow: none;
    background: none;
    /*overflow: hidden;*/
    width: 100%;
    height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#rangeP::-moz-range-thumb {  /* ползунок в Firefox */
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(#32cccc, #32cccc);
}

#rangeP::-ms-thumb {  /* ползунок в IE */
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(#32cccc, #32cccc);
}
#rangeP::-moz-range-track {  /* линия, по которой он ездит в Firefox */
    background: none;
}
#rangeP::-webkit-slider-thumb { /* ползунок в Хроме */
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: transparent;
    background: radial-gradient(#32cccc, #32cccc);
}
#rangeP::-webkit-slider-thumb{
    box-shadow:
    -10px 0px 0px -7px #32cccc,
    -13px 0px 0px -7px #32cccc,
    -16px 0px 0px -7px #32cccc,
    -19px 0px 0px -7px #32cccc,
    -22px 0px 0px -7px #32cccc,
    -25px 0px 0px -7px #32cccc,
    -28px 0px 0px -7px #32cccc,
    -31px 0px 0px -7px #32cccc,
    -34px 0px 0px -7px #32cccc,
    -37px 0px 0px -7px #32cccc,
    -40px 0px 0px -7px #32cccc,
    -43px 0px 0px -7px #32cccc,
    -46px 0px 0px -7px #32cccc,
    -49px 0px 0px -7px #32cccc,
    -52px 0px 0px -7px #32cccc,
    -55px 0px 0px -7px #32cccc,
    -58px 0px 0px -7px #32cccc,
    -61px 0px 0px -7px #32cccc,
    -64px 0px 0px -7px #32cccc,
    -67px 0px 0px -7px #32cccc,
    -70px 0px 0px -7px #32cccc,
    -73px 0px 0px -7px #32cccc,
    -76px 0px 0px -7px #32cccc,
    -79px 0px 0px -7px #32cccc,
    -82px 0px 0px -7px #32cccc,
    -85px 0px 0px -7px #32cccc,
    -88px 0px 0px -7px #32cccc,
    -91px 0px 0px -7px #32cccc,
    -94px 0px 0px -7px #32cccc,
    -97px 0px 0px -7px #32cccc,
    -100px 0px 0px -7px #32cccc,
    -103px 0px 0px -7px #32cccc,
    -106px 0px 0px -7px #32cccc,
    -109px 0px 0px -7px #32cccc,
    -112px 0px 0px -7px #32cccc,
    -115px 0px 0px -7px #32cccc,
    -118px 0px 0px -7px #32cccc,
    -121px 0px 0px -7px #32cccc,
    -124px 0px 0px -7px #32cccc,
    -127px 0px 0px -7px #32cccc,
    -130px 0px 0px -7px #32cccc,
    -133px 0px 0px -7px #32cccc,
    -136px 0px 0px -7px #32cccc,
    -139px 0px 0px -7px #32cccc,
    -142px 0px 0px -7px #32cccc,
    -145px 0px 0px -7px #32cccc,
    -148px 0px 0px -7px #32cccc,
    -151px 0px 0px -7px #32cccc,
    -154px 0px 0px -7px #32cccc,
    -157px 0px 0px -7px #32cccc,
    -160px 0px 0px -7px #32cccc,
    -163px 0px 0px -7px #32cccc,
    -166px 0px 0px -7px #32cccc,
    -169px 0px 0px -7px #32cccc,
    -172px 0px 0px -7px #32cccc,
    -175px 0px 0px -7px #32cccc,
    -178px 0px 0px -7px #32cccc,
    -181px 0px 0px -7px #32cccc,
    -184px 0px 0px -7px #32cccc,
    -187px 0px 0px -7px #32cccc,
    -190px 0px 0px -7px #32cccc,
    -193px 0px 0px -7px #32cccc,
    -196px 0px 0px -7px #32cccc,
    -199px 0px 0px -7px #32cccc,
    -202px 0px 0px -7px #32cccc,
    -205px 0px 0px -7px #32cccc,
    -208px 0px 0px -7px #32cccc,
    -211px 0px 0px -7px #32cccc,
    -214px 0px 0px -7px #32cccc,
    -217px 0px 0px -7px #32cccc,
    -220px 0px 0px -7px #32cccc,
    -223px 0px 0px -7px #32cccc,
    -226px 0px 0px -7px #32cccc,
    -229px 0px 0px -7px #32cccc,
    -232px 0px 0px -7px #32cccc,
    -235px 0px 0px -7px #32cccc,
    -238px 0px 0px -7px #32cccc,
    -241px 0px 0px -7px #32cccc,
    -244px 0px 0px -7px #32cccc,
    -247px 0px 0px -7px #32cccc,
    -250px 0px 0px -7px #32cccc,
    -253px 0px 0px -7px #32cccc,
    -256px 0px 0px -7px #32cccc,
    -259px 0px 0px -7px #32cccc,
    -262px 0px 0px -7px #32cccc,
    -265px 0px 0px -7px #32cccc,
    -268px 0px 0px -7px #32cccc,
    -271px 0px 0px -7px #32cccc,
    -274px 0px 0px -7px #32cccc,
    -277px 0px 0px -7px #32cccc,
    -280px 0px 0px -7px #32cccc,
    -283px 0px 0px -7px #32cccc,
    -286px 0px 0px -7px #32cccc,
    -289px 0px 0px -7px #32cccc,
    -292px 0px 0px -7px #32cccc,
    -295px 0px 0px -7px #32cccc,
    -298px 0px 0px -7px #32cccc,
    -301px 0px 0px -7px #32cccc,
    -304px 0px 0px -7px #32cccc,
    -307px 0px 0px -7px #32cccc,
    -310px 0px 0px -7px #32cccc,
    -313px 0px 0px -7px #32cccc,
    -316px 0px 0px -7px #32cccc,
    -319px 0px 0px -7px #32cccc,
    -322px 0px 0px -7px #32cccc,
    -325px 0px 0px -7px #32cccc,
    -328px 0px 0px -7px #32cccc,
    -331px 0px 0px -7px #32cccc,
    -334px 0px 0px -7px #32cccc,
    -337px 0px 0px -7px #32cccc,
    -340px 0px 0px -7px #32cccc,
    -343px 0px 0px -7px #32cccc,
    -346px 0px 0px -7px #32cccc,
    -349px 0px 0px -7px #32cccc,
    -352px 0px 0px -7px #32cccc,
    -355px 0px 0px -7px #32cccc,
    -358px 0px 0px -7px #32cccc,
    -361px 0px 0px -7px #32cccc,
    -364px 0px 0px -7px #32cccc,
    -367px 0px 0px -7px #32cccc,
    -370px 0px 0px -7px #32cccc,
    -373px 0px 0px -7px #32cccc,
    -376px 0px 0px -7px #32cccc,
    -379px 0px 0px -7px #32cccc,
    -382px 0px 0px -7px #32cccc,
    -385px 0px 0px -7px #32cccc,
    -388px 0px 0px -7px #32cccc,
    -391px 0px 0px -7px #32cccc,
    -394px 0px 0px -7px #32cccc,
        /* gray */
    10px 0px 0px -7px #999,
    13px 0px 0px -7px #999,
    16px 0px 0px -7px #999,
    19px 0px 0px -7px #999,
    22px 0px 0px -7px #999,
    25px 0px 0px -7px #999,
    28px 0px 0px -7px #999,
    31px 0px 0px -7px #999,
    34px 0px 0px -7px #999,
    37px 0px 0px -7px #999,
    40px 0px 0px -7px #999,
    43px 0px 0px -7px #999,
    46px 0px 0px -7px #999,
    49px 0px 0px -7px #999,
    52px 0px 0px -7px #999,
    55px 0px 0px -7px #999,
    58px 0px 0px -7px #999,
    61px 0px 0px -7px #999,
    64px 0px 0px -7px #999,
    67px 0px 0px -7px #999,
    70px 0px 0px -7px #999,
    73px 0px 0px -7px #999,
    76px 0px 0px -7px #999,
    79px 0px 0px -7px #999,
    82px 0px 0px -7px #999,
    85px 0px 0px -7px #999,
    88px 0px 0px -7px #999,
    91px 0px 0px -7px #999,
    94px 0px 0px -7px #999,
    97px 0px 0px -7px #999,
    100px 0px 0px -7px #999,
    103px 0px 0px -7px #999,
    106px 0px 0px -7px #999,
    109px 0px 0px -7px #999,
    112px 0px 0px -7px #999,
    115px 0px 0px -7px #999,
    118px 0px 0px -7px #999,
    121px 0px 0px -7px #999,
    124px 0px 0px -7px #999,
    127px 0px 0px -7px #999,
    130px 0px 0px -7px #999,
    133px 0px 0px -7px #999,
    136px 0px 0px -7px #999,
    139px 0px 0px -7px #999,
    142px 0px 0px -7px #999,
    145px 0px 0px -7px #999,
    148px 0px 0px -7px #999,
    151px 0px 0px -7px #999,
    154px 0px 0px -7px #999,
    157px 0px 0px -7px #999,
    160px 0px 0px -7px #999,
    163px 0px 0px -7px #999,
    166px 0px 0px -7px #999,
    169px 0px 0px -7px #999,
    172px 0px 0px -7px #999,
    175px 0px 0px -7px #999,
    178px 0px 0px -7px #999,
    181px 0px 0px -7px #999,
    184px 0px 0px -7px #999,
    187px 0px 0px -7px #999,
    190px 0px 0px -7px #999,
    193px 0px 0px -7px #999,
    196px 0px 0px -7px #999,
    199px 0px 0px -7px #999,
    202px 0px 0px -7px #999,
    205px 0px 0px -7px #999,
    208px 0px 0px -7px #999,
    211px 0px 0px -7px #999,
    214px 0px 0px -7px #999,
    217px 0px 0px -7px #999,
    220px 0px 0px -7px #999,
    223px 0px 0px -7px #999,
    226px 0px 0px -7px #999,
    229px 0px 0px -7px #999,
    232px 0px 0px -7px #999,
    235px 0px 0px -7px #999,
    238px 0px 0px -7px #999,
    241px 0px 0px -7px #999,
    244px 0px 0px -7px #999,
    247px 0px 0px -7px #999,
    250px 0px 0px -7px #999,
    253px 0px 0px -7px #999,
    256px 0px 0px -7px #999,
    259px 0px 0px -7px #999,
    262px 0px 0px -7px #999,
    265px 0px 0px -7px #999,
    268px 0px 0px -7px #999,
    271px 0px 0px -7px #999,
    274px 0px 0px -7px #999,
    277px 0px 0px -7px #999,
    280px 0px 0px -7px #999,
    283px 0px 0px -7px #999,
    286px 0px 0px -7px #999,
    289px 0px 0px -7px #999,
    292px 0px 0px -7px #999,
    295px 0px 0px -7px #999,
    298px 0px 0px -7px #999,
    301px 0px 0px -7px #999,
    304px 0px 0px -7px #999,
    307px 0px 0px -7px #999,
    310px 0px 0px -7px #999,
    313px 0px 0px -7px #999,
    316px 0px 0px -7px #999,
    319px 0px 0px -7px #999,
    322px 0px 0px -7px #999,
    325px 0px 0px -7px #999,
    328px 0px 0px -7px #999,
    331px 0px 0px -7px #999,
    334px 0px 0px -7px #999,
    337px 0px 0px -7px #999,
    340px 0px 0px -7px #999,
    343px 0px 0px -7px #999,
    346px 0px 0px -7px #999,
    349px 0px 0px -7px #999,
    352px 0px 0px -7px #999,
    355px 0px 0px -7px #999,
    358px 0px 0px -7px #999,
    361px 0px 0px -7px #999,
    364px 0px 0px -7px #999,
    367px 0px 0px -7px #999,
    370px 0px 0px -7px #999,
    373px 0px 0px -7px #999,
    376px 0px 0px -7px #999,
    379px 0px 0px -7px #999,
    382px 0px 0px -7px #999,
    385px 0px 0px -7px #999,
    388px 0px 0px -7px #999,
    391px 0px 0px -7px #999,
    394px 0px 0px -7px #999;
}

#rangeP::-moz-range-thumb{
    box-shadow:
            -10px 0px 0px -7px #32cccc,
            -13px 0px 0px -7px #32cccc,
            -16px 0px 0px -7px #32cccc,
            -19px 0px 0px -7px #32cccc,
            -22px 0px 0px -7px #32cccc,
            -25px 0px 0px -7px #32cccc,
            -28px 0px 0px -7px #32cccc,
            -31px 0px 0px -7px #32cccc,
            -34px 0px 0px -7px #32cccc,
            -37px 0px 0px -7px #32cccc,
            -40px 0px 0px -7px #32cccc,
            -43px 0px 0px -7px #32cccc,
            -46px 0px 0px -7px #32cccc,
            -49px 0px 0px -7px #32cccc,
            -52px 0px 0px -7px #32cccc,
            -55px 0px 0px -7px #32cccc,
            -58px 0px 0px -7px #32cccc,
            -61px 0px 0px -7px #32cccc,
            -64px 0px 0px -7px #32cccc,
            -67px 0px 0px -7px #32cccc,
            -70px 0px 0px -7px #32cccc,
            -73px 0px 0px -7px #32cccc,
            -76px 0px 0px -7px #32cccc,
            -79px 0px 0px -7px #32cccc,
            -82px 0px 0px -7px #32cccc,
            -85px 0px 0px -7px #32cccc,
            -88px 0px 0px -7px #32cccc,
            -91px 0px 0px -7px #32cccc,
            -94px 0px 0px -7px #32cccc,
            -97px 0px 0px -7px #32cccc,
            -100px 0px 0px -7px #32cccc,
            -103px 0px 0px -7px #32cccc,
            -106px 0px 0px -7px #32cccc,
            -109px 0px 0px -7px #32cccc,
            -112px 0px 0px -7px #32cccc,
            -115px 0px 0px -7px #32cccc,
            -118px 0px 0px -7px #32cccc,
            -121px 0px 0px -7px #32cccc,
            -124px 0px 0px -7px #32cccc,
            -127px 0px 0px -7px #32cccc,
            -130px 0px 0px -7px #32cccc,
            -133px 0px 0px -7px #32cccc,
            -136px 0px 0px -7px #32cccc,
            -139px 0px 0px -7px #32cccc,
            -142px 0px 0px -7px #32cccc,
            -145px 0px 0px -7px #32cccc,
            -148px 0px 0px -7px #32cccc,
            -151px 0px 0px -7px #32cccc,
            -154px 0px 0px -7px #32cccc,
            -157px 0px 0px -7px #32cccc,
            -160px 0px 0px -7px #32cccc,
            -163px 0px 0px -7px #32cccc,
            -166px 0px 0px -7px #32cccc,
            -169px 0px 0px -7px #32cccc,
            -172px 0px 0px -7px #32cccc,
            -175px 0px 0px -7px #32cccc,
            -178px 0px 0px -7px #32cccc,
            -181px 0px 0px -7px #32cccc,
            -184px 0px 0px -7px #32cccc,
            -187px 0px 0px -7px #32cccc,
            -190px 0px 0px -7px #32cccc,
            -193px 0px 0px -7px #32cccc,
            -196px 0px 0px -7px #32cccc,
            -199px 0px 0px -7px #32cccc,
            -202px 0px 0px -7px #32cccc,
            -205px 0px 0px -7px #32cccc,
            -208px 0px 0px -7px #32cccc,
            -211px 0px 0px -7px #32cccc,
            -214px 0px 0px -7px #32cccc,
            -217px 0px 0px -7px #32cccc,
            -220px 0px 0px -7px #32cccc,
            -223px 0px 0px -7px #32cccc,
            -226px 0px 0px -7px #32cccc,
            -229px 0px 0px -7px #32cccc,
            -232px 0px 0px -7px #32cccc,
            -235px 0px 0px -7px #32cccc,
            -238px 0px 0px -7px #32cccc,
            -241px 0px 0px -7px #32cccc,
            -244px 0px 0px -7px #32cccc,
            -247px 0px 0px -7px #32cccc,
            -250px 0px 0px -7px #32cccc,
            -253px 0px 0px -7px #32cccc,
            -256px 0px 0px -7px #32cccc,
            -259px 0px 0px -7px #32cccc,
            -262px 0px 0px -7px #32cccc,
            -265px 0px 0px -7px #32cccc,
            -268px 0px 0px -7px #32cccc,
            -271px 0px 0px -7px #32cccc,
            -274px 0px 0px -7px #32cccc,
            -277px 0px 0px -7px #32cccc,
            -280px 0px 0px -7px #32cccc,
            -283px 0px 0px -7px #32cccc,
            -286px 0px 0px -7px #32cccc,
            -289px 0px 0px -7px #32cccc,
            -292px 0px 0px -7px #32cccc,
            -295px 0px 0px -7px #32cccc,
            -298px 0px 0px -7px #32cccc,
            -301px 0px 0px -7px #32cccc,
            -304px 0px 0px -7px #32cccc,
            -307px 0px 0px -7px #32cccc,
            -310px 0px 0px -7px #32cccc,
            -313px 0px 0px -7px #32cccc,
            -316px 0px 0px -7px #32cccc,
            -319px 0px 0px -7px #32cccc,
            -322px 0px 0px -7px #32cccc,
            -325px 0px 0px -7px #32cccc,
            -328px 0px 0px -7px #32cccc,
            -331px 0px 0px -7px #32cccc,
            -334px 0px 0px -7px #32cccc,
            -337px 0px 0px -7px #32cccc,
            -340px 0px 0px -7px #32cccc,
            -343px 0px 0px -7px #32cccc,
            -346px 0px 0px -7px #32cccc,
            -349px 0px 0px -7px #32cccc,
            -352px 0px 0px -7px #32cccc,
            -355px 0px 0px -7px #32cccc,
            -358px 0px 0px -7px #32cccc,
            -361px 0px 0px -7px #32cccc,
            -364px 0px 0px -7px #32cccc,
            -367px 0px 0px -7px #32cccc,
            -370px 0px 0px -7px #32cccc,
            -373px 0px 0px -7px #32cccc,
            -376px 0px 0px -7px #32cccc,
            -379px 0px 0px -7px #32cccc,
            -382px 0px 0px -7px #32cccc,
            -385px 0px 0px -7px #32cccc,
            -388px 0px 0px -7px #32cccc,
            -391px 0px 0px -7px #32cccc,
            -394px 0px 0px -7px #32cccc,
                /* gray */
            10px 0px 0px -7px #999,
            13px 0px 0px -7px #999,
            16px 0px 0px -7px #999,
            19px 0px 0px -7px #999,
            22px 0px 0px -7px #999,
            25px 0px 0px -7px #999,
            28px 0px 0px -7px #999,
            31px 0px 0px -7px #999,
            34px 0px 0px -7px #999,
            37px 0px 0px -7px #999,
            40px 0px 0px -7px #999,
            43px 0px 0px -7px #999,
            46px 0px 0px -7px #999,
            49px 0px 0px -7px #999,
            52px 0px 0px -7px #999,
            55px 0px 0px -7px #999,
            58px 0px 0px -7px #999,
            61px 0px 0px -7px #999,
            64px 0px 0px -7px #999,
            67px 0px 0px -7px #999,
            70px 0px 0px -7px #999,
            73px 0px 0px -7px #999,
            76px 0px 0px -7px #999,
            79px 0px 0px -7px #999,
            82px 0px 0px -7px #999,
            85px 0px 0px -7px #999,
            88px 0px 0px -7px #999,
            91px 0px 0px -7px #999,
            94px 0px 0px -7px #999,
            97px 0px 0px -7px #999,
            100px 0px 0px -7px #999,
            103px 0px 0px -7px #999,
            106px 0px 0px -7px #999,
            109px 0px 0px -7px #999,
            112px 0px 0px -7px #999,
            115px 0px 0px -7px #999,
            118px 0px 0px -7px #999,
            121px 0px 0px -7px #999,
            124px 0px 0px -7px #999,
            127px 0px 0px -7px #999,
            130px 0px 0px -7px #999,
            133px 0px 0px -7px #999,
            136px 0px 0px -7px #999,
            139px 0px 0px -7px #999,
            142px 0px 0px -7px #999,
            145px 0px 0px -7px #999,
            148px 0px 0px -7px #999,
            151px 0px 0px -7px #999,
            154px 0px 0px -7px #999,
            157px 0px 0px -7px #999,
            160px 0px 0px -7px #999,
            163px 0px 0px -7px #999,
            166px 0px 0px -7px #999,
            169px 0px 0px -7px #999,
            172px 0px 0px -7px #999,
            175px 0px 0px -7px #999,
            178px 0px 0px -7px #999,
            181px 0px 0px -7px #999,
            184px 0px 0px -7px #999,
            187px 0px 0px -7px #999,
            190px 0px 0px -7px #999,
            193px 0px 0px -7px #999,
            196px 0px 0px -7px #999,
            199px 0px 0px -7px #999,
            202px 0px 0px -7px #999,
            205px 0px 0px -7px #999,
            208px 0px 0px -7px #999,
            211px 0px 0px -7px #999,
            214px 0px 0px -7px #999,
            217px 0px 0px -7px #999,
            220px 0px 0px -7px #999,
            223px 0px 0px -7px #999,
            226px 0px 0px -7px #999,
            229px 0px 0px -7px #999,
            232px 0px 0px -7px #999,
            235px 0px 0px -7px #999,
            238px 0px 0px -7px #999,
            241px 0px 0px -7px #999,
            244px 0px 0px -7px #999,
            247px 0px 0px -7px #999,
            250px 0px 0px -7px #999,
            253px 0px 0px -7px #999,
            256px 0px 0px -7px #999,
            259px 0px 0px -7px #999,
            262px 0px 0px -7px #999,
            265px 0px 0px -7px #999,
            268px 0px 0px -7px #999,
            271px 0px 0px -7px #999,
            274px 0px 0px -7px #999,
            277px 0px 0px -7px #999,
            280px 0px 0px -7px #999,
            283px 0px 0px -7px #999,
            286px 0px 0px -7px #999,
            289px 0px 0px -7px #999,
            292px 0px 0px -7px #999,
            295px 0px 0px -7px #999,
            298px 0px 0px -7px #999,
            301px 0px 0px -7px #999,
            304px 0px 0px -7px #999,
            307px 0px 0px -7px #999,
            310px 0px 0px -7px #999,
            313px 0px 0px -7px #999,
            316px 0px 0px -7px #999,
            319px 0px 0px -7px #999,
            322px 0px 0px -7px #999,
            325px 0px 0px -7px #999,
            328px 0px 0px -7px #999,
            331px 0px 0px -7px #999,
            334px 0px 0px -7px #999,
            337px 0px 0px -7px #999,
            340px 0px 0px -7px #999,
            343px 0px 0px -7px #999,
            346px 0px 0px -7px #999,
            349px 0px 0px -7px #999,
            352px 0px 0px -7px #999,
            355px 0px 0px -7px #999,
            358px 0px 0px -7px #999,
            361px 0px 0px -7px #999,
            364px 0px 0px -7px #999,
            367px 0px 0px -7px #999,
            370px 0px 0px -7px #999,
            373px 0px 0px -7px #999,
            376px 0px 0px -7px #999,
            379px 0px 0px -7px #999,
            382px 0px 0px -7px #999,
            385px 0px 0px -7px #999,
            388px 0px 0px -7px #999,
            391px 0px 0px -7px #999,
            394px 0px 0px -7px #999;
}
